<script>
  // auto select MathJax CDN according to the domain
  const currentDomain = window.location.hostname;
  const isXouNet = /(^|\.)xou\.net$/.test(currentDomain);
  const mathJaxUrl = isXouNet 
    ? 'https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js'
    : 'https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js';
  
  // create and append the MathJax script tag
  const script = document.createElement('script');
  script.id = 'MathJax-script';
  script.src = mathJaxUrl;
  script.async = true;
  document.head.appendChild(script);
  
  // MathJax configuration remains unchanged
  MathJax = {
    tex: {
      displayMath: [['\\[', '\\]'], ['$$', '$$']],  // block
      inlineMath: [['\\(', '\\)']]                  // inline
    },
    options: {
      a11y: {
        speech: false,                      // switch on speech output
        braille: false,                     // switch on Braille output
        subtitles: false,                   // show speech as a subtitle
        viewBraille: false,                // display Braille output as subtitles
      },
      menuOptions: {
        settings:{
          enrich: false
        }
      }
    }
  };
</script>

